body, html {
    height: 600px;
    width: 400px;
    overflow: hidden;
}
body {
  /*padding: 20px;*/
}

.panel-body {
    max-height: 260px;
    overflow-y: hidden;
}

.panel-primary {
    max-height: 600px;
}

.pager {
	margin: 0;
}